{% extends 'index.html' %}

{% block content %}

<form action="add" method="POST">
    {% csrf_token %}
    <h1>Somar</h1>
    <div>
        <label for="num1">X:</label>
        <input type="number" name="num1" id="num1">
        <label for="num2">Y:</label>
        <input type="number" name="num2" id="num2">
    </div>
    <button type="submit" id="sum"><img
            src="https://raw.githubusercontent.com/DosonsVitor/django-simple-calc/main/frontend/img/soma.png"
            alt="soma"></button>
</form>


<form action="sub" method="POST">
    {% csrf_token %}
    <h1>Subtrair</h1>
    <div>
        <label for="num1">X:</label>
        <input type="number" name="num1" id="num1">
        <label for="num2">Y:</label>
        <input type="number" name="num2" id="num2">
    </div>
    <button type="submit" id="sub"><img
            src="https://raw.githubusercontent.com/DosonsVitor/django-simple-calc/main/frontend/img/subtracao.png"
            alt="subtração"></button>
</form>

<form action="multi" method="POST">
    {% csrf_token %}
    <h1>Multiplicar</h1>
    <div>
        <label for="num1">X:</label>
        <input type="number" name="num1" id="num1">
        <label for="num2">Y:</label>
        <input type="number" name="num2" id="num2">
    </div>
    <button type="submit" id="mult"><img
            src="https://raw.githubusercontent.com/DosonsVitor/django-simple-calc/main/frontend/img/multiplicacao.png"
            alt="Multiplicar"></button>
</form>

<form action="div" method="POST">
    {% csrf_token %}
    <h1>Dividir</h1>
    <div>
        <label for="num1">X:</label>
        <input type="number" name="num1" id="num1">
        <label for="num2">Y:</label>
        <input type="number" name="num2" id="num2">
    </div>
    <button type="submit" id="div"><img
            src="https://raw.githubusercontent.com/DosonsVitor/django-simple-calc/main/frontend/img/divisao.png"
            alt="Dividir"></button>
</form>

{% endblock %}