@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('http://fonts.cdnfonts.com/css/blue-yellow');

body{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #131b23;
    color: white;
}

.tittle{
    display: flex;
    align-items: center;
}

.tittle h1{
    font-family: 'Nova Mono', monospace;
}
.tittle img{
    height: 50px;
    margin: 10px;
}

.inputs {
    font-size: 30px;
    font-family: 'Blue Yellow', sans-serif;

    margin: 50px;

    text-align: center;
}

.inputs input{
    border-color: white;
    background-color: #131b23;

    width: 50px;
    height: 50px;

    font-size: 30px;
    font-family: 'Blue Yellow', sans-serif;
    color: white;
}

.inputs input:focus{
    outline: none;
    box-shadow: 0 0 0 1px gainsboro;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.buttons button{
    border: none;
}

.buttons #sum{ background-color: #80b4fb; }
.buttons #sub{ background-color: #fc5692; }
.buttons #mult{ background-color: #b9ea6a; }
.buttons #div{ background-color: #fcdd2e; }
.buttons #raiz{ background-color: #4059ad; }
.buttons #pow{ background-color: #fa7921; }

.buttons img{
    height: 30px;
    margin: 10px;
}

.result p{
    text-align: center;
    font-size: 30px;
    font-family: 'Blue Yellow', sans-serif;
}

.credits {
    display: flex;
    font-family: 'Nova Mono', monospace;
}
.credits p{
    margin: 10px;
}